# EAS Build ignore file

# common files and directories to ignore
.expo/
.idea/
.vscode/
.tasks/
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# environment variables
.env

# documentation
*.md

# local build artifacts
/android/build/
/ios/build/
/dist/

# tests
__tests__/
e2e/
